.container{
    padding: 20px 40px;
    max-width: 500px;
    margin: auto;
    background-color: wheat;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-size: 2rem;
}

 ol > li, ul > li {
    margin-bottom: 1ch;
}

img{
    max-width: 100%;
    height: auto;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p,li{
    font-size: 18px;
}